<h1>From Home: {{> page/title}}</h1>

{{> page/nav}}
{{> page/nav}}

<h4>This is the home handlebars</h4>

{{!-- 
<div class="row">
  <div class="col-xs-6 col-md-8" id="topleft">{{>topleft}}</div>
  <div class="row">
  	<div class="col-xs-6 col-md-4" id="right">{{>right}}</div>
  </div>
  <div class="col-xs-6 col-md-8" id="bottomleft">{{>bottomleft}}</div>
</div> --}}


<div class="row">
  <div class="col-xs-6 col-md-8" id="topleft">{{>topleft}}</div>
  <div class="col-xs-6 col-md-4" id="right">{{>right}}</div>
</div>
<div class="row">
 <div class="col-xs-6 col-md-8" id="bottomleft">{{>bottomleft}}</div>
</div>