{{!-- <h1>From Home: {{> page/title}}</h1>

{{> page/nav}}
{{> page/nav}}

<h4>This is the home handlebars</h4> --}}

<div class="container">



<div class="row">
  <div class="col-md-8" id="topleft">{{>topleft}}
    <div class="row">
      <div class="col-md-12" id="bottomleft">{{>bottomleft}}</div>
    </div>
  </div>
      <div class="col-md-4" id="right">{{>right}}</div>
</div>



</div>